<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiappe6b51ffb8b7241bb960bf52f67644815.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiappe6b51ffb8b7241bb960bf52f67644815.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiAppe6b51ffb8b7241bb960bf52f67644815</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>RCUtility</AppServiceName>
    <ResourceGroupName>default-sql-southeastasia</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiAppe6b51ffb8b7241bb960bf52f67644815</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="RCStatusDatabaseEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=q00ta2ecm6.database.windows.net;Initial Catalog=RCStatusDatabase;User ID=poojagaonkar;Password=Rroocckkiinn1!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RCStatusDatabaseEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.LeaveModel.csdl|res://*/Models.LeaveModel.ssdl|res://*/Models.LeaveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q00ta2ecm6.database.windows.net;initial catalog=RCStatusDatabase;user id=poojagaonkar;password=Rroocckkiinn1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RCStatusDatabaseEntities2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=q00ta2ecm6.database.windows.net;Initial Catalog=RCStatusDatabase;User ID=poojagaonkar;Password=Rroocckkiinn1!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RCStatusDatabaseEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DailyStatusModel.csdl|res://*/Models.DailyStatusModel.ssdl|res://*/Models.DailyStatusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q00ta2ecm6.database.windows.net;initial catalog=RCStatusDatabase;user id=poojagaonkar;password=Rroocckkiinn1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RCStatusDatabaseEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=q00ta2ecm6.database.windows.net;Initial Catalog=RCStatusDatabase;User ID=poojagaonkar;Password=Rroocckkiinn1!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RCStatusDatabaseEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.StatusModel.csdl|res://*/Models.StatusModel.ssdl|res://*/Models.StatusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q00ta2ecm6.database.windows.net;initial catalog=RCStatusDatabase;user id=poojagaonkar;password=Rroocckkiinn1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="masterEntities1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=q00ta2ecm6.database.windows.net;User ID=poojagaonkar;Password=Rroocckkiinn1!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\masterEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.LeaveModel.csdl|res://*/Models.LeaveModel.ssdl|res://*/Models.LeaveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q00ta2ecm6.database.windows.net;user id=poojagaonkar;password=Rroocckkiinn1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="masterEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=q00ta2ecm6.database.windows.net;User ID=poojagaonkar;Password=Rroocckkiinn1!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\masterEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.StatusModel.csdl|res://*/Models.StatusModel.ssdl|res://*/Models.StatusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q00ta2ecm6.database.windows.net;user id=poojagaonkar;password=Rroocckkiinn1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)masterEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)masterEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RCStatusDatabaseEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RCStatusDatabaseEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RCStatusDatabaseEntities2-Web.config Connection String" />
  </ItemGroup>
</Project>