<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiapp1f22c1038c014e5ba3362934384fee13.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiapp1f22c1038c014e5ba3362934384fee13.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RCEmployeeUtility</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>RCUtility</AppServiceName>
    <ResourceGroupName>Default-SQL-SoutheastAsia</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiApp1f22c1038c014e5ba3362934384fee13</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RCStatusDatabaseEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=q00ta2ecm6.database.windows.net;Initial Catalog=RCStatusDatabase;User ID=poojagaonkar;Password=Rroocckkiinn1!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RCStatusDatabaseEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.LeaveModel.csdl|res://*/Models.LeaveModel.ssdl|res://*/Models.LeaveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q00ta2ecm6.database.windows.net;initial catalog=RCStatusDatabase;user id=poojagaonkar;password=Rroocckkiinn1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RCStatusDatabaseEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=q00ta2ecm6.database.windows.net;Initial Catalog=RCStatusDatabase;User ID=poojagaonkar;Password=Rroocckkiinn1!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RCStatusDatabaseEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.StatusModel.csdl|res://*/Models.StatusModel.ssdl|res://*/Models.StatusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q00ta2ecm6.database.windows.net;initial catalog=RCStatusDatabase;user id=poojagaonkar;password=Rroocckkiinn1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="masterEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=q00ta2ecm6.database.windows.net;User ID=poojagaonkar;Password=Rroocckkiinn1!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\masterEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.LeaveModel.csdl|res://*/Models.LeaveModel.ssdl|res://*/Models.LeaveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q00ta2ecm6.database.windows.net;user id=poojagaonkar;password=Rroocckkiinn1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="masterEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=q00ta2ecm6.database.windows.net;User ID=poojagaonkar;Password=Rroocckkiinn1!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\masterEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.StatusModel.csdl|res://*/Models.StatusModel.ssdl|res://*/Models.StatusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q00ta2ecm6.database.windows.net;user id=poojagaonkar;password=Rroocckkiinn1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>